[package]
name = "utils"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
description = "Utility functions and helpers"

[dependencies]
serde.workspace = true
serde_json.workspace = true
log.workspace = true
